* {
  box-sizing: border-box;
}

:root {
  --bg-img: url(./resources/bg.jpg);
  --bg-color: rgba(230, 238, 245, 0.8); 
}

.App {
  text-align: center;
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.MainWindow {
  background-color: var(--bg-color);
  min-width: fit-content;
  border-radius: 10px;
  margin: 0.5%;
  padding: 0px 15%;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}
